@import "./theme/_colors"
@import "./theme/_spacing"
@import "./theme/_text"

body
  color: $darkSmoke

.bold
  font-weight: bold

.container
  background-color: $darkSnow

.main-content
  padding: map-get($spacing, "l") map-get($spacing, "l")
  display: flex
  flex-direction: column
  align-items: center
  @media screen and ( min-width: 768px )
    width: 1200px
    margin: 0 auto
    align-items: flex-start
    padding: map-get($spacing, "xl") map-get($spacing, "l")

.main-header
  background-color: $header-bgc
  padding: map-get($spacing, "m") map-get($spacing, "l")
  display: flex
  justify-content: space-between
  align-items: center

  > .logo
    width: 96px
    height: 24px

  .person-details
    display: flex
    align-items: center
    gap: map-get($spacing, "l")

  .person-info
    font-size: 12px
    @media screen and ( min-width: 768px )
      display: flex
      gap: map-get($spacing, "s")
    span
      display: block
      text-align: right

  .avatar
    font-weight: bold
    background-color: $snow
    padding: map-get($spacing, "s")
    border-radius: 4px

.search-box
  display: flex
  flex-direction: column
  align-items: center
  align-self: stretch
  @media screen and ( min-width: 768px )
    width: 295px
    align-self: initial
    align-items: flex-start

.input-wrapper
  align-self: stretch
  display: flex
  align-items: center
  background-color: #fff
  border: 1px solid $darkSnow
  border-radius: 4px
  padding: map-get($spacing, "s") map-get($spacing, "m")

.input
  flex: 1
  border: 0
  font-style: italic
  padding-right: map-get($spacing, "s")
